/* COLOR PALETTE
#f1f2f5 - header/nav, light grayish
#233dff - headings, royal blueish
#e4ecf7 - content, light blueish,
#f00947 - headings, matches pinkish. Maybe footer
#fae9ea - content, light pinkish
#ffffff - main background
*/

* {
  margin: 0;
  padding:0;
}

strong{
  font-weight: bold;
}
/*---------------------- GENERIC CLASSES ---------------------*/
.hidden{
  display: none;
}
.container-row{
  display: flex;
  flex-direction: row;
}
.container-column{
  display: flex;
  flex-direction: column;
}

/*--------------------------- HEADER CLASSES -----------------------*/
header{
  display: flex;
  flex-direction: row;
  min-height: 200px;
  justify-content: space-between;
  background-color: #f1f2f5;
}

header nav ul {
  display: flex;
  flex-direction: row;
}
header nav {
  margin: auto 0 ;
  line-height: 1.5;
  flex-wrap: nowrap;
  padding-right: 6px;
  justify-content: center;
}

header nav ul {
    text-decoration: none;
    list-style-type: none;
}
header li{
  margin:15px 0px 15px 15px;
}

.logo{
  max-width: 200px;
  max-height: 200px;
  display: inline-flex;
  flex-grow: 1;

}
header a:hover{
  color:white;
  background-color: black;
  transition: 0.5s;
}

.header-box{
  color:black;
  background-color: white;
  font-style: normal;
  font-family: Arial;
  text-align: center;
  justify-content: center;
  margin: 10px 0px 10px 10px;
  border: 3px solid white;
  text-decoration: none;
  font-size: 120%;
  padding: 3px;
  margin-right: 50px;
  border-radius: 5px;
}
/* ----------------------- HEADER END -----------------------*/

/* ----------------------------- HOME PAGE CLASSES-----------*/
.member{
  max-width: 275px;
  height: auto;
  border-radius: 10px;
}
.card{
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 28px rgba(149,157,165,.5);
  background-color: #fafafa;
  padding: 0% 0.5% 1% 0.5%;
  margin:30px;
}
.card img{
  position: relative;
  width: 100%;
  max-height: 90%;
  top: 10px;
}
.card p {
  font-size: 18px;
  font-family: Arial;


}
.board{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80.6%
}
.wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.image-caption{
  position: relative;
  padding: 30px 5px 0px 5px;
}



/* --------------------HOME PAGE END -----------------------*/


/* ------------------------CAROUSEL CLASSES -----------------*/
.dis-img{
  width: 70%;
  border-radius: 3%;
  box-shadow: 0px 4px 28px rgba(149,157,165,.5);
}
.arrow{
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 5px;
}
.arrow:hover{
  background-color: black;
  color:white;
  cursor: pointer;
}

.dots{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.buttons{
  display: flex;
  justify-content:space-between;
  justify-content: center;
  align-items: center;
}
.circle{
  border-radius: 50%;
  background-color: white;
  width:25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.click{
  background-color: black;
}
.slides{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
}
/* -------------------- CAROUSEL END ---------------------- */
