/* COLOR PALETTE
#f1f2f5 - header/nav, light grayish
#233dff - headings, royal blueish
#e4ecf7 - content, light blueish,
#f00947 - headings, matches pinkish. Maybe footer
#fae9ea - content, light pinkish
#ffffff - main background
*/

* {
  margin: 0;
  padding:0;
}

/*--------------------------- BODY CLASSES -----------------------*/
body {
  font-family: sans-serif;
  /* line-height: 1.5em; */
}

h1 {
  margin-bottom: 20px;
}

strong{
  font-weight: bold;
}
/* ----------------------- BODY END -----------------------*/

/*---------------------- GENERIC CLASSES ---------------------*/
.hidden{
  display: none;
}
.container-row{
  display: flex;
  flex-direction: row;
}
.container-column{
  display: flex;
  flex-direction: column;
}
.body-wrapper {
  margin: 25px 25px 50px 25px;
}
.section-wrapper {
  margin: 25px 25px 50px 25px;
}
.footer-logo{
  padding: 0px;
  width: 40px;
  text-decoration: none;
  margin:15px;
}
.footer-logo:hover{
  opacity:0.6;
  box-shadow: 0px 4px 28px rgba(149,157,165,.5);
  cursor: pointer;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f1f2f5;
}
.footer-text{
  text-align: center;
  margin: auto 0;
  font-size: 1.5em;
  font-family: sans-serif;
  line-height: 1.5;
  letter-spacing: .02em;
}

/*--------------------------- HEADER CLASSES -----------------------*/
header{
  display: flex;
  flex-direction: row;
  min-height: 100px;
  justify-content: space-between;
  background-color: #f1f2f5;
  box-shadow: 0px 4px 3px rgba(149, 157, 164, 0.25);
}

header nav ul {
  display: flex;
  flex-direction: row;
}
header nav {
  margin: auto 0 ;
  line-height: 1.5;
  letter-spacing: .02em;
  flex-wrap: nowrap;
  padding-right: 6px;
  justify-content: center;
}

header nav ul {
    text-decoration: none;
    list-style-type: none;
}
header li{
  margin:15px 0px 15px 15px;
}

.logo{
  max-width: 100px;
  max-height: 100px;
  display: inline-flex;
  flex-grow: 1;

}
header a:hover{
  color:white;
  background-color: #233dff;
  transition: 0.4s;
  box-shadow: 0px 4px 28px rgba(149,157,165,.5);
}

.header-box{
  color:black;
  font-style: normal;
  font-family: Arial;
  text-align: center;
  justify-content: center;
  margin: 10px 0px 10px 10px;
  text-decoration: none;
  font-size: 120%;
  padding: 9px 12px;
  margin-right: 50px;
  border-radius: 5px;
}
/* ----------------------- HEADER END -----------------------*/

/* ----------------------------- HOME PAGE CLASSES-----------*/
.member{
  max-width: 250px;
  height: auto;
  border-radius: 10px;
}
.card{
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 28px rgba(149,157,165,.5);
  background-color: #fafafa;
  padding: 0% 0.5% 1% 0.5%;
  margin:20px;
  max-width: 230px;
}
.card img{
  position: relative;
  width: 100%;
  max-height: 90%;
  top: 10px;
}
.card p {
  font-size: 18px;
  font-family: Arial;


}
.board{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80.6%
}
.wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.image-caption{
  position: relative;
  padding: 30px 5px 0px 5px;
}

#homepage-h1{
  font-size: 6em;
  text-align: center;
  font-family: Arial;
}

/* --------------------HOME PAGE END -----------------------*/


/* ------------------------CAROUSEL CLASSES -----------------*/
.dis-img{
  width: 70%;
  border-radius: 3%;
  box-shadow: 0px 4px 28px rgba(149,157,165,.5);
}
.arrow{
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 50%;
}
.arrow:hover{
  background-color: black;
  color:white;
  cursor: pointer;
  box-shadow: 0px 4px 28px rgba(149,157,165,.5);
}

.dots{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.buttons{
  display: flex;
  justify-content:space-between;
  justify-content: center;
  align-items: center;
}
.circle{
  border-radius: 50%;
  background-color: white;
  width:25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.click{
  background-color: black;
}
.slides{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
}
/* -------------------- CAROUSEL END ---------------------- */

/* ----------------- JOIN-US PAGE CLASSES ----------------- */
/* placeholder */

/* ------------------- JOIN-US PAGE END ------------------- */

/* ------------------- ACCORDION CLASSES ------------------ */
.accordion {
  justify-content: center;
  margin: 30px 120px 0px 120px;
}

.accordion .container {
  box-shadow: 0px 4px 10px rgba(114, 122, 129, 0.93);
  border-radius: 5px;

  margin-top: 25px;
  margin-bottom: 25px;
}

.accordion .header {
  display: flex;
  font-size: 19px;
  color: black;
  background-color: white;
  align-items: center;

  border: 0px;
  border-left: 5px #f00947 solid;
  border-bottom: 5px #f00947 solid;
  border-radius: 5px;

  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
}

.accordion .hidden {
  display: none;
}

.header::before {
  display: flex;
  content: "\02795";

  float: right;
  right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.header:hover {
  background-color: #f00947;
  color: white;
  cursor: pointer;

  border: 0px;
  border-left: 5px #f00947 solid;
  border-bottom: 5px #f00947 solid;
  border-radius: 5px;
}

.accordion .close {
  background-color: #f00947;
  color: white;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.close::before {
  display: flex;
  content: "\2796";
}

.accordion .content {
  background-color: #ffcccc;
  text-align: justify;
  line-height: 1.4em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  padding: 20px 30px;
}

ol li {
    margin-left: 15px;
}

/* ------------------- ACCORDION END ------------------ */


/* ------------------- TABS STARTS ------------------- */

  .tabs-list {
    display: block;
    margin:0;
    padding:0;
  }

  .tabs-list li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    text-decoration: none;
  }

  .tab-button {
    font-size: 1em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 1em;
    margin-top: 2em;
    background-color: #e4ecf7;
    cursor: pointer;
  }

  .tab-button:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style: double;
  }

  .tab-content {
    padding: 1em;
    margin-right: 3em;
    background-color: #e4ecf7;
    border-radius: 0.5em;
  }

  #workshops-button, .first-tab-content {
    background-color: #E4ECF7;
  }
  #pt-button, .second-tab-content {
    background-color: #C1CCF8;
  }
  #fast-covers-button, .third-tab-content {
    background-color: #9EACFA;
  }
  #socials-button, .fourth-tab-content {
    background-color: #7B8DFB;
  }
  #beginner-button, .fifth-tab-content {
    background-color: #586DFD;
    color: white;
  }
  #auditions-button, .sixth-tab-content {
    background-color: #3e4ec2;
    color: white;
  }

  #hsm-flyer {
    width: 225%;
    max-width: 550px;
  }

  .showcase-content {
    margin-left: 10em;
    overflow: hidden;
    box-shadow: 0px 4px 28px rgba(149,157,165,.5);
    padding: 1.5em;
    border-radius: .5em;
  }

@media screen and (min-width: 300px) {
  .tabs {
    flex-grow: 2;
    flex-direction: row;
    max-width: 800px;
  }

  aside {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    max-width: 600px;
    padding-right: 3em;
    align-items: center;
  }

  .tab-button {
    font-size: 80%;
  }
}

@media screen and (min-width:100px) {
  .tab-button {
    font-size: 70%;
  }

  .showcase-content {
    margin-left: 25%;
  }
}

@media screen and (min-width: 560px) {
  .tab-button {
    font-size: 88%;
  }
}

@media screen and (min-width: 630px) {
  .tab-button {
    font-size: 98%;
  }
}

@media screen and (min-width: 730px) {
  .tab-button {
    font-size: 100%;
  }
}

@media screen and (min-width: 731px) {
  .tab-button {
    font-size: 120%;
  }
}

@media screen and (min-width: 1000px) {
  .wwd-row{
    display: flex;
    flex-direction: row;
  }
  .wwd-column{
    display: flex;
    flex-direction: column;
  }

  #hsm-flyer {
    width: 225%;
    max-width: 600px;
  }

  .showcase-content {
    margin-left: 30%;
  }

  .tab-button {
    font-size: 90%;
  }
}

@media screen and (min-width: 1110px) {
  .tab-button {
    font-size: 100%;
  }
}

/*------------------- END OF TABS INTERACTIVITY ------------------- */
